@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Details</h2>
        <p>
            AML Device Manager is used to manage your devices from anywhere in the world!
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://amltd.com/">
                    AML Website
                </a>
            </li>
        </ul>
    </div>
</div>