@page "/"
@inject NavigationManager NavigationManager  


<AuthorizeView>
     <Authorized>
        @if (@context.User.Identity != null)
        {
            <h1>Hello, @context.User.Identity.Name !</h1>
  
            <p>Welcome to AML Device Manager.</p>
        }
        else
        {
            <h1>Hello!</h1>
  
            <p>Welcome to AML Device Manager.</p>
        }
  
     </Authorized>
     <NotAuthorized>
         <p>Log in to see your home screen.</p>
     </NotAuthorized>
 </AuthorizeView>
